---
title: First Blog
date: 2021-09-04
excerpt: First blog published on svelte kit
---

<script>
    import HelloWorld from '$lib/HelloWorld.svelte';
    </script>

<HelloWorld />

Something about the blog

## Brief Introduction

My blog

- first
- second
- third


```
Text in command pallete
```


### Code


```html
<div>
    <p> Hello World</p>
</div>
```


```js
setTimeout(cb, timeInms);
```





